.dart_tool/
.packages
.pub/
build/
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
macos/Pods/
.flutter-plugins
.flutter-plugins-dependencies
.fake-android-sdk/
WEBNIDA/node_modules/
WEBNIDA/backend/node_modules/
WEBNIDA/frontend/node_modules/
WEBNIDA/.next/
WEBNIDA/frontend/.next/
WEBNIDA/build/
WEBNIDA/backend/dist/
WEBNIDA/backend/uploads/
WEBNIDA/backend/.env
WEBNIDA/frontend/.env
WEBNIDA/frontend/.env.local
